body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #333;
	color: #ddd;
}

h2 {
	text-align: center;
}

.chart-container {
	position: relative;
	width: 40vw;
	min-width: 500px;
	float: left;
}
